/*   

General Class categories (naming conventions):

    1) LAYOUT
        - all the styling referring to the page layout and structure
        - these classes must start with '.l-' (example: '.l-header')

    3) MODULE
        - independent components that are (or can be) used widely in all the pages and all the sections of the pages
        - these classes must start with '.m-'
        - important thing is that all module's inner element's classes that are specific only for this module, 
          should also start with '.m-[parent_module]'. This way we will keep all the module specific styling in one place 
       	  and will be easier for code maintenance and later expanding.
       	- all the media queries for responsive styles should also come right after the module styling (again keeping all the
       	  module specific styling in one place).
    
    3) UTILITY 
        - single purpose helper classes that apply only one specific styling rule
        - these classes must start with '.u-' (example: '.u-txt-center', '.u-pull-right', '.u-half-width'...)

    4) STATE
        - helper classes that modify the state of a component
        - state classes should be added and removed via JS events
        - only place where '!important' tag is allowed
        - these classes must start with '.is-' (example: is-expanded/is-collapsed, is-hidden, is-active)
_______________________

*/

/* General styling */

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #a31e22;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

h1 {
  margin: 12px 0;
  font-size: 20px;
  font-weight: 400;
  color: #a31e22;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 12px 0 75px;
  font-size: 26px;
  font-weight: 700;
  color: #4d4d4d;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

h2 > span {
  position: relative;
  display: inline-block;
  padding: 0 35px;
}

h2 > span::before,
h2 > span::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 28px;
  height: 7px;
  background-image: url(img/headline-decoration-sprite.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  transform: translateY(-50%);
}

@media screen and (max-width: 480px) {

  h2 > span {
    padding: 0;
  }

  h2 > span::before,
  h2 > span::after {
    display: none;
  }

}

h2 > span::after {
  left: auto;
  right: 0;
  background-position: 0 -7px;
}

h3 {
  margin-bottom: 35px;
  font-size: 18px;
  color: #808080;
}

p {
  margin: 35px 0;
  font-size: 16px;
  line-height: 1.5em;
  color: #808080;
}

img {
  max-width: 100%;
}

/* Layout elements styling */

.l-container {
  position: relative;
  margin: 0 auto;  
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1145px;
  transition: all 0.3s ease-in-out;
}

.l-container-narrow {
  max-width: 980px;
}

.l-width-half {
  width: 50%;
}

.l-offset-left-half {
  margin-left: 50%;
}

@media screen and (max-width: 768px) {

  .l-width-half {
    width: 100%;
  }

  .l-offset-left-half {
    margin-left: 0;
  }

}

/* Layout Grid system styling */

.l-grid-primary {
  overflow: hidden;
  margin-left: -50px;
  font-size: 0;
}

.l-grid-primary-item {
  display: inline-block;  
  padding-left: 50px;
  vertical-align: top;
}

.l-grid-primary-10 {
  width: 10%;
}

.l-grid-primary-20 {
  width: 20%;
}

.l-grid-primary-30 {
  width: 30%;
}

.l-grid-primary-40 {
  width: 40%;
}

.l-grid-primary-50 {
  width: 50%;
}

.l-grid-primary-60 {
  width: 60%;
}

.l-grid-primary-70 {
  width: 70%;
}

.l-grid-primary-80 {
  width: 80%;
}

.l-grid-primary-90 {
  width: 90%;
}

.l-grid-primary-100 {
  width: 100%;
}

@media screen and (max-width: 800px) {

  .l-grid-primary {
    margin-left: 0;
  }

  .l-grid-primary-item {
    display: block;  
    padding-left: 0;
    width: 100%;
  }  

  .l-grid-primary-item.u-text-right {
    text-align: center;
  }

}

/* Main Header styling */

.l-main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #bebebe;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

.l-main-header-inner {
  position: relative;
}

.l-main-header-is-scrolled {
  opacity: 0.8;
}

.l-main-header-is-scrolled:hover {
  opacity: 1;
}

.l-main-header-top {
  overflow: hidden;
  padding: 13px 0;
  background: #1a1a1a;
  border-bottom: 1px solid #9a9a9a;
}

.l-main-header-top + .l-container {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}

.l-main-header-is-scrolled:not(.is-mobile-layout) .l-main-header-top + .l-container {
  padding: 15px 20px;
}

/* Social icons Module Styling */

.m-social-icons-primary {
  float: left;
}

.m-social-icons-primary li {
  display: inline-block;
  margin: 0 25px 0 0;
}

.m-social-icons-primary li a {
  color: #808080;
}

.m-social-icons-primary li a:hover {
  opacity: 0.8;
}

/* Contact menu Module Styling */

.m-contact-menu {
  float: right;
}

.m-contact-menu li {
  display: inline-block;
  margin-left: 25px;
}

.m-contact-menu li a {
  font-size: 12px;
  color: #808080;
}

.m-contact-menu li a:hover {
  opacity: 0.8;
}

.m-contact-menu li a i.m-icon {
  margin-right: 7px;
}

/* Logo module styling */

.m-logo {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 190px;
  height: 35px;
  transform: translateY(-50%);
}

/* Hamburger menu button Module styling */

.m-hamburger-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 43px;
  height: 35px;
  z-index: 999;
}

.m-hamburger-menu:hover {
  cursor: pointer;
}

.m-hamburger-menu-bar {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 5px;
  background: #808080;
  border-radius: 2.5px;
  transform-origin: center center;
  transform: rotate(0deg) scale(1, 1);
  transition: all 0.3s ease-in-out;
}

.m-hamburger-menu-bar:first-child {
  top: 0;
}

.m-hamburger-menu-bar:nth-child(2) {
  top: 15px;
}

.m-hamburger-menu-bar:last-child {
  top: auto;
  bottom: 0;
}

.m-hamburger-menu:hover .m-hamburger-menu-bar:nth-child(2) {
  transform: rotate(0deg) scale(0.7, 1);
}

.m-hamburger-menu.is-in-x-mode .m-hamburger-menu-bar:nth-child(2) {
  transform: rotate(0deg) scale(0, 0);
}

.m-hamburger-menu.is-in-x-mode .m-hamburger-menu-bar:first-child {
  top: 50%;
  transform: rotate(-45deg) scale(1, 1) translateY(-50%);
}

.m-hamburger-menu.is-in-x-mode .m-hamburger-menu-bar:last-child {
  bottom: 50%;
  transform: rotate(45deg) scale(1, 1) translateY(50%);
}

@media screen and (max-width: 800px) {

  .m-hamburger-menu {
    display: block;
  }


}

/* Main navigation Module styling */

.m-main-navigation {
  float: right;
}

.m-main-navigation ul li {
  display: inline-block;
  margin: 0 0 0 38px;
}

.m-main-navigation-item {
  font-size: 14px;
  color: #9a9a9a;
  text-transform: uppercase;
}

.m-main-navigation-item:hover {
  color: #a31e22;
}

.is-active-m-main-navigation-item {
  font-weight: 700;
  color: #a31e22;
}


.mobile-menu-overlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0;
  z-index: 997;
}

@media screen and (max-width: 800px) {

  .l-main-header-top {
    display: none !important;
  }

  .l-main-header-top + .l-container {
    padding: 55px 0 0;
  }

  .m-logo {
    top: 10px;
    transform: none;
  }

  .m-main-navigation {
    float: none;
    position: fixed;
    padding-top: 60px;
    top: 0;
    right: -320px;
    width: 100%;
    height: 100%;
    max-width: 320px;
    background: #1a1a1a url(img/sidebar-logo.png) no-repeat top 9px left 15px;
    z-index: 998;
    transition: all 0.3s ease-in-out;    
  }

  .m-main-navigation.is-scrolled-in {
    right: 0;
  }

  .m-main-navigation ul li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #808080;
    text-align: left;
  }

  .m-main-navigation-item {
    display: block;
    padding: 21px 0 21px 20px;
    border-left: 5px solid transparent;
  }

  .is-active-m-main-navigation-item,
  .m-main-navigation ul li a:hover {
    color: #fff;
    border-left: 5px solid #a31e22;
  }

  .mobile-menu-overlay {
    display: block;
  }

}

/* Icon Module styling */

.m-icon {
  display: inline-block;
  line-height: 0;
  vertical-align: bottom;
  background: url(img/icons-sprite.png) no-repeat;
}

.m-icon-red {
  background: url(img/icons-red-sprite.png) no-repeat;
}

.m-icon-27 {
  width: 27px;
  height: 27px;
}

.m-icon-17 {
  width: 17px;
  height: 17px;
}

.m-icon-15 {
  width: 15px;
  height: 15px;
}

.m-icon-phone {
  background-position: 0 0;
}

.m-icon-phone-white {
  background-position: -17px -16px;
}

.m-icon-phone-gray {
  background-position: -33px -16px;
}

.m-icon-email-white-fill {
  background-position: 0 -48px;
}

.m-icon-email {
  background-position: 0 -17px;
}

.m-icon-shop {
  background-position: 0 -34px;
}

.m-icon-location-white {
  background-position: -17px 0;
}

.m-icon-location-gray {
  background-position: -33px 0;
}

.m-icon-email-white {
  background-position: -17px -32px;
}

.m-icon-email-gray {
  background-position: -33px -32px;
}

.m-icon-red-fb {
  background-position: 0 0;
}

.m-icon-red-linkedin {
  background-position: -27px 0;
}

.m-icon-red-instagram {
  background-position: 0 -27px;
}

.m-icon-red-twitter {
  background-position: -27px -27px;
}

/* Hero Module styling */

.m-hero {
  position: relative;
  margin-top: 43px;
  margin-bottom: 130px;
  padding: 78px 0 0;
  height: 805px;
  max-height: 805px;  
  background: url(img/hero-bg.jpg) no-repeat bottom center;
  background-attachment: fixed;
  background-size: cover;
}

.m-hero-container {
  max-width: 1180px;
  height: 100%;
  z-index: 3;
}

.m-hero-content {
  position: absolute;
  top: 50%;
  width: 600px;
  transform: translateY(-50%);
}

.m-hero-content-headline {
  display: block;
  font-size: 48.44px;
  line-height: 1.1em;
  color: #fff;
}

.m-hero-content-headline + .m-btn {
  margin-top: 45px;
}

.m-hero-rocket-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 1180px;
  transform: translateX(-50%);
  z-index: 1;
}

.m-hero-parallax-rocket {
  position: absolute;
  bottom: -130px;
  left: 635px;
  max-height: calc(80% + 130px);
}

.m-hero-parallax-clouds {
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: -130px;
  height: 292px;
  width: 100%;
  z-index: 2;
}

.m-hero-parallax-clouds img {
  position: absolute;
  left: 50%;
  height: 100%;
  max-width: none;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {

  .m-hero {
    height: auto;
    background-attachment: scroll;    
  }

  .m-hero-content {
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .m-hero-parallax-rocket {
    left: 50%;
    bottom: -80px;
    height: 400px;
    transform: translateX(-50%);
  }

}

/* Responsive Layout for mobile - '.m-hero-is-on-mobile' class added via Javascript */

.m-hero-is-on-mobile .m-hero-content {
  top: 15%;
}

.m-hero-is-on-mobile .m-hero-content-headline {
  font-size: 32px;
}

.m-hero-is-on-mobile .m-hero-parallax-rocket {
  bottom: 0;
  max-height: 50%;
}

.m-hero-is-on-mobile .m-hero-parallax-clouds {
  bottom: 0;
  height: 150px;
}


/* Section Module Styling */

.l-section {
  padding: 100px 0;
}

.l-section-smaller {
  padding: 70px 0;
}

/* Universal Button Module styling */

.m-btn {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background: #a31e22;
  border: 1px solid #a31e22;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.m-btn-lg {
  padding: 20px 50px;
  font-size: 15px;
}

.m-btn-default {
  padding: 15px;
  min-width: 200px;
  font-size: 14px;
}

.m-btn-transparent {
  background: transparent;
  border: 1px solid #fff;
}

.m-btn-full-width {
  width: 100%;
}

.m-btn i.m-icon {
  margin-right: 10px;
}

/* Steps Graph Module Styling */

.m-steps-graph {
  display: block;
  margin: 100px auto 0; 
  max-width: 653px;
  font-size: 0;
}

.m-steps-graph-step {
  position: relative;
  display: inline-block;
  padding: 148px 0; 
  width: 33.33%;
  vertical-align: middle;
}

.m-steps-graph-step-label {
  position: relative;
  display: block;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 35px;
  background: #cccccc;  
  text-align: center;
  text-transform: uppercase;
}

.m-steps-graph-step-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -17px;
  width: 17px;
  height: 35px;
  background: url(img/step-one-arrow.png) no-repeat;
  z-index: 1;
}

.m-steps-graph-step:nth-child(2) .m-steps-graph-step-label {
  background: #b3b3b3;
}

.m-steps-graph-step:nth-child(2) .m-steps-graph-step-label::after {
  background: url(img/step-two-arrow.png) no-repeat;
}

.m-steps-graph-step:nth-child(3) .m-steps-graph-step-label {
  background: #999999;
}

.m-steps-graph-step:nth-child(3) .m-steps-graph-step-label::after {
  background: url(img/step-three-arrow.png) no-repeat;
}

.m-steps-graph-step-illustration {
  position: absolute;
  left: 50%;
  top: 0;
  width: 121px;
  height: 121px;
  background: #a31e22;
  border-radius: 50%;
  transform: translateX(-50%);
}

.m-steps-graph-step-illustration::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -27px;
  left: 50%;
  width: 6px;
  height: 27px;
  background-image: url(img/steps-illustration-decoration-sprite.png);
  background-position: -6px 0;
  transform: translateX(-50%);
}

.m-steps-graph-step-illustration-is-bellow {
  top: auto;
  bottom: 0;
}

.m-steps-graph-step-illustration-is-bellow::before {
  top: -27px;
  background-position: 0 0;
}

.m-steps-graph-step-illustration img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.m-steps-graph-step-description {
  position: absolute;
  top: 200px;
  left: 25px;
  width: 160px;
  font-size: 22px;
  line-height: 1.3em;
  color: #808080;
}

.m-steps-graph-step-description-is-above {
  top: auto;
  bottom: 200px;
}

@media screen and (max-width: 768px) {

  .m-steps-graph {
    margin-top: 50px;
  }

  .m-steps-graph-step {
    display: block;
    margin-bottom: 70px;
    padding: 0 0 55px;
    width: 100%;
    height: 220px;
    background: #fff;
  }

  .m-steps-graph-step-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
  }

  .m-steps-graph-step-label::after {
    top: 100%;
    right: auto;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    background-image: none;
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #CCCCCC;
    border-width: 10px;
    margin-left: -10px;
  }

  .m-steps-graph-step:nth-child(2) .m-steps-graph-step-label::after {
    border-top-color: #B3B3B3;
    background-image: none;
  }

  .m-steps-graph-step:nth-child(3) .m-steps-graph-step-label::after {
    border-top-color: #999999;
    background-image: none;
  }

  .m-steps-graph-step-illustration {
    top: 24px;
    left: 24px;
    transform: none;
  }

  .m-steps-graph-step-illustration::before {
    display: none;
  }

  .m-steps-graph-step-description {
    left: 170px;
    right: 30px;
    top: 50%;
    bottom: auto;
    margin-top: -27.5px;
    width: auto;
    transform: translateY(-50%);
  }

}

@media screen and (max-width: 480px) {

  .m-steps-graph-step {
    padding: 23px 23px 55px;
    height: auto;
    text-align: center;
  }

  .m-steps-graph-step-description {
    position: relative;
    margin: 0 0 20px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: auto;
    transform: none;
  }

  .m-steps-graph-step-illustration {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    margin: 0 auto 20px;
  }

}

/* Three Box Grid Styling */

.l-three-box-grid {
  margin: 75px 0 75px -15px;
  font-size: 0;
}

.l-three-box-grid-item {
  display: inline-block;
  padding-left: 15px;
  width: 33.33%;
  font-size: 16px;
  vertical-align: top;
}

@media screen and (max-width: 800px) {

  .l-three-box-grid {
    margin-left: 0;
  }

  .l-three-box-grid-item {
    display: block;
    margin-bottom: 30px;
    padding-left: 0;
    width: 100%;
  }

}

/* Sevices Box Module Styling */

.m-services-box {
  position: relative;
  padding-bottom: 110px;
  margin: 0 auto;
  max-width: 600px;
  min-height: 544px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  transform: scale(0.95, 0.95);
  transition: 0.3s all ease-in-out;
  border: 1px solid #fdfdfd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}

.m-services-box::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
  z-index: 998;
}

.m-services-box-is-coming-soon {
  overflow: hidden;
}

.m-services-box-is-coming-soon::after {
  content: 'Coming soon';
  position: absolute;
  left: -50px;
  top: 28px;
  padding: 10px 50px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background: #a31e22;
  text-transform: uppercase;
  opacity: 0.9;
  z-index: 999;
  transform: rotate(-45deg);
}

.m-services-box-is-active {
  transform: scale(1, 1);
  -webkit-box-shadow: 0px 0px 20px 0 rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 20px 0 rgba(153,153,153,1);
  box-shadow: 0px 0px 20px 0 rgba(153,153,153,1);
  border-color: #dcdcdc;
}

.m-services-box-is-active::before {
  opacity: 0;
  z-index: -1;
}

.m-services-box-header {
  font-size: 18px;
  color: #4d4d4d;
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}

.m-services-box-price {
  display: block;
  margin: 45px 0 0;
  font-size: 40px;
  font-weight: 700;
  color: #a31e22;
}

.smaller-font {
  display: inline;
  font-size: 17px;
  vertical-align: bottom;
}

.m-services-box-body {
  padding: 30px 10px 30px;
}

.m-services-box-body-items {
  margin-top: -15px;
}

.m-services-box-body-items li {
  display: block;
  margin: 15px 0 0;
  font-size: 16px;
  color: #999999;
  line-height: 1.3em;
}

.m-services-box-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 35px 25px;
}

.m-services-box_full-width {
  padding: 0 25px;
  max-width: none;
}

.m-services-box_no-footer {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {

  .m-services-box {
    transform: scale(1, 1);
    -webkit-box-shadow: 0px 0px 20px 0 rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 20px 0 rgba(153,153,153,1);
    box-shadow: 0px 0px 20px 0 rgba(153,153,153,1);
    border-color: #dcdcdc;    
  }

  .m-services-box::before {
    display: none;
  }

  .m-services-box_full-width {
    padding: 0 10px;
  }

}

/* News Box Module Styling */

.m-news-box {
  position: relative;
  overflow: hidden;
  padding-top: 220px;
  margin: 0 auto;
  max-width: 400px;
  background: #f2f2f2;
  border-radius: 5px;
  text-align: left;
}

.m-news-box_date {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 15px 0 12px 0;
  width: 65px;
  background: #a31e22;
  text-align: center;
  z-index: 999;
}

.m-news-box_date > span {
  display: block;
  margin-bottom: 8px;
  font-size: 17.8px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
}

.m-news-box_image-cropper {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  height: 220px;
  z-index: 998;
}

.m-news-box_image-cropper > img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  max-width: none;
  min-width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;  
}

.m-news-box:hover .m-news-box_image-cropper > img {
  transform: translate(-50%, -50%) scale(1.2, 1.2);
}

.m-news-box.full-width:hover .m-news-box_image-cropper > img {
  transform: translate(-50%, -50%) scale(1, 1);
}


.m-news-box_header {
  padding: 30px 25px 20px;
}


.m-news-box_header h3 {
  margin: 0 0 15px;
  font-size: 17px;
  line-height: 1.2em;
  color: #4d4d4d;
}

.m-news-box_author {
  font-size: 12px;
  font-weight: 700;
  color: #a31e22;
  opacity: 0.4;
}

.m-news-box_author:hover {
  opacity: 1;
}

.m-news-box_feedback-list {
  display: inline-block;
  margin-left: -11px;
}

.m-news-box_feedback-list-item {
  display: inline-block;
  margin-left: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
  color: #999999;
}

.m-news-box_body {
  padding: 0 25px 35px;
}

.m-news-box_body > p {
  margin: 0 0 25px;
}

.m-news-box_feedback-list-icon {
  display: inline-block;
  width: 9px;
  height: 9px;
  line-height: 0;
  vertical-align: bottom;
  background: url(img/feedback-icons-sprite.png) no-repeat;
}

.m-news-box_feedback-list-icon-comment {
  background-position: 0 -9px;
}

.m-read-more-btn {
  display: inline-block;
  position: relative;
  padding-right: 15px;
  height: 13px;
  font-size: 12px;
  font-weight: 700;
  color: #a31e22;
  line-height: 13px;
  text-transform: uppercase;
}

.m-read-more-btn:hover {
  opacity: 0.9;
}

.m-read-more-btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 9px;
  height: 13px;
  background: url(img/carrot-red-icon.png) no-repeat center right;
}

.full-width {
  width: 100%;
  max-width: 800px;
  margin-bottom: 60px;
  padding: 30px 20px 25px 20px;
}

.full-width .m-news-box_body {
  position: relative;
  min-height: 120px;
  padding: 0 0 0 150px;
}

.full-width .m-news-box_body > p {
  margin-bottom: 0;
}

.full-width .m-news-box_header {
      padding: 0px 65px 20px 0px;
}

.full-width .m-news-box_image-cropper {
  width: 120px;
  height: 120px;
  right: auto;
}

.full-width .m-news-box_image-cropper > img  {
  position: relative;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  
  .full-width {
    max-width: 400px;
    padding: 240px 15px 25px 15px;
  }

  .full-width .m-news-box_header {
    padding: 0;
  }

  .full-width .m-news-box_body {
    position: static;
    padding: 0;
    text-align: center;
  }

  .full-width .m-news-box_image-cropper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 220px;
    max-width: 100%;
    margin: 0 auto;
  }

  .full-width .m-news-box_image-cropper > img {
    max-height: none;
  }

  .full-width .m-news-box_body > p {
    margin-top: 15px;
    text-align: left;
  }

}

/* General Banner Styling */

.m-banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.m-banner_inner {
  min-height: 150px;
}

/* Contact banner module styling */

.m-contact-banner {
  position: relative;
  padding-left: 255px;
}

.m-contact-banner-bg-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.m-banner-headline {
  display: block;
  font-size: 24px;
  color: #fdfdfd;
  line-height: 1.2em;
}

.m-banner-headline + .m-btn {
  margin-top: 30px;
}

@media screen and (max-width: 800px) {

  .m-contact-banner {
    padding-left: 0;
    text-align: center;
  }

  .m-contact-banner-bg-image {
    position: relative;
    display: block;
    margin: 30px auto 0;
    left: auto;
    top: auto;
    transform: none;
  }

}

/* Personell Banner Module Styling  */

.m-personell-banner {
  background-image: url(img/personnel-bg.jpg);
}

.m-personell-banner-inner {
  overflow: auto;
  padding-right: 250px;
}

.m-personell-banner-inner > p:last-of-type {
  margin-bottom: 0;
}

.m-personell-banner-inner > p + a.m-btn {
  margin-top: 30px;
}

.m-personell-banner-bg-image {
  position: absolute;
  right: -200px;
  bottom: -100px;
}

.m-personell-banner-bg-image-inner {
  bottom: -60px;
}

@media screen and (max-width: 1400px) {

  .m-personell-banner {
    padding-bottom: 0;
  }

  .m-personell-banner.u-text-right,
  .m-personell-banner-inner.u-text-right {
    text-align: center;
  }

  .m-personell-banner-inner {
    padding-right: 0;
  }

  .m-personell-banner-bg-image {
    position: relative;
    display: block;
    margin: 30px auto 0; 
    right: auto;
    bottom: auto;
  }  

  .m-personell-banner-bg-image-inner {
    margin-bottom: 30px;
  }

}

/* Services Banner Module Styling  */

.m-services-banner {
  background-image: url(img/services-bg.jpg);
}

.m-services-banner-inner {
  overflow: auto;
  padding-right: 250px;
}

.m-services-banner-inner > p:last-of-type {
  margin-bottom: 0;
}

.m-services-banner-bg-image {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}


@media screen and (max-width: 1400px) {

  .m-services-banner {
    padding-bottom: 0;
  }

  .m-services-banner.u-text-right,
  .m-services-banner-inner.u-text-right {
    text-align: center;
  }

  .m-services-banner-inner {
    padding-right: 0;
  }

  .m-services-banner-bg-image {
    position: relative;
    display: block;
    margin: 30px auto 30px; 
    right: auto;
    top: auto;
    transform: none;
  }  

}

/* Gallery Slider Module Styling */

.m-gallery-slider-wrapper {
  overflow: hidden;
  padding: 80px 0 30px;
}

/* Overriding the BxSlider default styling for the Gallery Slider */

.m-gallery-slider-wrapper .bx-wrapper {
  margin: 0;
  border: none;
  box-shadow: none;
}

.m-gallery-slider-wrapper .bx-wrapper .bx-viewport {
  overflow: visible !important;
}

.m-gallery-slider li {
  opacity: 0.8;
  transform: scale(1, 1);
  transition: all 0.3s ease-in-out;
}

.m-gallery-slider li:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  z-index: 99;
}

/* Contact Form Section Styling */

.m-contact {
  padding-left: 30px;
}

.m-contact-headline {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
}

.m-contact-headline strong {
  font-size: 26px;
}

.m-contact-details {
  margin: 30px 0;
}

.m-contact-details-item {
  display: block;
  margin-bottom: 15px;
  min-height: 16px;
}

.m-contact-details-item > i.m-icon {
  margin-right: 10px;
}

.m-contact-details-item > a {
  font-size: 13px;
  color: #fff;
}

.m-contact-form input[type="text"],
.m-contact-form input[type="email"],
.m-contact-form textarea {
  display: block;
  padding: 5px 12px;
  margin-bottom: 5px;
  width: 100%;
  height: 35px;
  font-size: 13px;
  color: #fff;
  background: transparent;
  border: 1px solid #767676;
  border-radius: 5px;
}

.m-contact-form textarea {
  font-family: 'Montserrat', sans-serif;
  height: 120px;
}

.m-contact-form input[type="submit"] {
  margin-top: 3px;
}

/* Additional Styling For the Google Map Positioning */

#contact-section {
  position: relative;
}

#map-container {
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  
  .m-contact {
    padding-left: 0;
  }

  #contact-section {
    padding-bottom: 0;
  }

  #map-container {
    position: relative;
    margin-top: 30px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: 100%;
    height: 400px;
  }  

}

/* Jobs Posts Module Styling */

.m-job-posts {
  margin: 100px 0;
}

.m-job-posts_item {
  display: block;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 70px;
  max-width: 80%;
}

.m-job-posts_item > h3 {
  margin-bottom: 30px;
  font-size: 18px;
  color: #808080;
}

.m-job-posts_item > p {
  margin-bottom: 30px;
}

.m-job-posts_item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  max-width: 400px;
  background: #C4C4C4;
}

.m-job-posts_item:last-child::after {
  display: none;
}

.m-job-posts_buttons {
  margin: 30px 0;
}

.m-job-posts_buttons a.m-btn {
  margin-right: 10px;
}

.m-job-posts_hidden-text {
  display: none;
  margin: 30px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.m-job-posts_hidden-text > p:first-child {
  margin-top: 0;
}

.m-job-posts_hidden-text > p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {

  .m-job-posts_item {
    max-width: 100%;
  }

}

@media screen and (max-width: 600px) {

  .m-job-posts_buttons {
    margin-top: -20px;
  }

  .m-job-posts_buttons a.m-btn {
    width: 100%;
    margin-top: 20px;
  }

}

/* Regular list Module Styling */

.m-regular-list {
  margin: 30px 0 30px 10px;
  list-style-type: none;
}

.m-regular-list_item {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.2em;
  color: #808080;
}

.m-regular-list_item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 5px;
  height: 5px;
  background: #808080;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* Footer Module Styling */

.m-footer {
  padding: 57px 0 0;
  background: #fff;
}

.m-footer-content {
  margin: 0 auto;
  padding: 0 20px 30px;
  max-width: 510px;
}

.m-footer-logo {
  max-width: 80%;
}

.m-social-icons-secondary {
  font-size: 0;
  text-align: center;
}

.m-social-icons-secondary > li {
  display: inline-block;
  margin: 0 15px;
}

.m-social-icons-secondary > li > a:hover {
  opacity: 0.8;
}

.m-footer-bottom {
  border-top: 1px solid #dedede;
}

.m-footer-bottom > p {
  margin: 15px 0;
}

/* Footer Nvigation Module Styling */

.m-footer-nav {
  margin: 6px 0;
  text-align: center;
}

.m-footer-nav > ul {
  font-size: 0;
}

.m-footer-nav > ul > li {  
  display: inline-block;
  position: relative;
  margin: 10px 44px;
}

.m-footer-nav > ul > li::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -44px;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 20px;
  background: #C4C4C4;
}

.m-footer-nav > ul > li:first-child::before {
  display: none;
}

.m-footer-nav > ul > li > a,
.m-footer-nav > ul > li > span {
  font-size: 16px;
  color: #808080;
  line-height: 20px;
}

.m-footer-nav > ul > li > span {
  opacity: 0.7;
}

.m-footer-nav > ul > li > a:hover {
  color: #a31e22;
}

@media screen and (max-width: 800px) {

  .m-footer-nav > ul > li {
    margin: 10px 15px;
  }

  .m-footer-nav > ul > li::before {
    left: -15px;
  }

  .m-footer-nav > ul > li > a,
  .m-footer-nav > ul > li > span {
    font-size: 14px;
  }

}

@media screen and (max-width: 480px) {

  .m-footer-nav > ul > li {
    margin: 10px 15px;
  }

  .m-footer-nav > ul > li::before {
    left: -15px;
  }

  .m-footer-nav > ul > li:last-child {
    display: block;    
  }

  .m-footer-nav > ul > li:last-child::before {
    display: none;
  }

  .m-footer-nav > ul > li > a,
  .m-footer-nav > ul > li > span {
    font-size: 12px;
  }

}

/* Inner Pages General Styling */

.m-basic-inner-page-content {
  padding-top: 50px;
}

.m-basic-inner-page-content > h1,
.m-basic-inner-page-content > h2 {
  text-align: left;
}

.m-basic-inner-page-content > h2 {
  font-size: 18px;
  margin: 40px 0 20px 0;
}

.m-basic-inner-page-content > p,
.m-basic-inner-page-content > blockquote {
  margin: 20px 0;
  line-height: 1.2em;
  color: #808080;
}

.m-basic-inner-page-content > h2 + p {
  margin-top: 10px;
}

.m-basic-inner-page-content > ul {
  list-style-type: disc;
  list-style-position: inside;
}

.m-basic-inner-page-content > ul > li {
  font-size: 14px;
  line-height: 1.6em;
  color: #808080;
}

.m-basic-inner-page-content a {
  color: #a31e22;
}

/* Utility helper classes */

.u-color-red {
  color: #a31e22;
}

.u-color-white {
  color: #fff;
}

.u-small-padding-bottom {
  padding-bottom: 35px;
}

.u-background-gray {
  background: #f9f9f9;
}

.u-background-red {
  background: #a31e22;
}

.u-contact-form-bg {
  background: #333333;
}

.u-font-bold {
  font-weight: 700;
}

.u-font-normal {
  font-weight: 400;
}

.u-block {
  display: block;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-initial {
  text-transform: initial;
}

.u-margin-top-big {
  margin-top: 50px;
}

.u-padding-top-none {
  padding-top: 0;
}

.has-no-scroll {
  overflow: hidden;
}

.u-no-min-height {
  min-height: auto;
}
